<h1>Sign Up</h1>
<%= form_for :user,:url=>"/users/create", :html=>{:method=>:post} do|f| %>

    <div class="field">
      <%= f.label :firstname %><br />
      <%= f.text_field :firstname %>
    </div>
    <div class="field">
      <%= f.label :lastname %> <br/>
      <%= f.text_field :lastname %>
    </div>
    <div class="field">
      <%= f.label :email %>        <br/>
      <%= f.text_field :email %>
    </div>
    <div class="field">
      <%= f.label :password %> <br/>
      <%= f.password_field :password %>
    </div>

    <div class="action">
      <%= f.submit "Sign up"%>
    </div>
<% end %>
